<div class="container">
      <div class="details-wrap">
        <div class="title-box">
          <h1>{{ shortening.titleName }}</h1>
          <button (click)="onDelete(this.id)">Delete</button>
        </div>
        <div class="orig-link">
          Original link: <a href="{{ this.shortening.original_link }}">
          {{ this.shortening.original_link }}</a>
        </div>
        <div class="share-link">
          Share link: <a href="{{ this.shortening.original_link }}">
          {{ this.shortening.share_link }}</a>
        </div>
        <div class="short-link">
          Short link: <a href="{{ this.shortening.short_link }}">
          {{ this.shortening.short_link }}</a>
        </div>
        <div class="short-link-2">
          Short link #2: <a href="{{ this.shortening.short_link2 }}">
          {{ this.shortening.short_link2 }}</a>
        </div>
      </div>
  </div>
